@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper {
    background: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
    margin: 3rem;
}

.imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagem {
    position: relative;
}

.imagem::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsl(277, 64%, 61%, 0.6);
}

.text-component {
    padding: 50px;
}

.text-component span {
    color: hsl(277, 64%, 61%);
}

.title {
    font-weight: 700;
}

.sub-title {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.box {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 60px;
    text-transform: uppercase;
}

.box p.number {
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: 700;
}

.box p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 10px;
}

@media only screen and (max-width: 425px){
    body {
        text-align: center;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .imagem {
        order: -1;
    }
}